@use '/src/styles/var' as *;

.main {
  padding-top: 95px;

  @media(max-width:$md) {
    padding-top: 60px;
  }

  .banner {
    background-image: url(/images/hm-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .wrap {
      padding: 170px 0;
      background: #002147ad;

      @media(max-width:$lg) {
        padding: 120px 0;
      }

      @media(max-width:$md) {
        padding: 90px 0;
      }

      @media(max-width:$sm) {
        padding: 70px 0;
      }

      .content {
        max-width: 950px;

        h1 {
          font-size: 60px;
          font-weight: 700;
          color: #fff;

          @media(max-width:$sm) {
            font-size: 40px;
          }

          span {
            color: $primary;
          }
        }

        p {
          color: #fff;
          margin: 30px 0;
        }

        .btns {
          display: flex;
          align-items: center;
          gap: 15px;

          a {
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 30px;
            font-weight: 500;

            @media(max-width:$lg) {
              font-size: 14px;
              padding: 8px 15px;
            }
          }

          .one {
            background: $primary;
            color: #fff;
          }

          .two {
            color: #fff;
            background: transparent;
            border: 2px solid #fff;
          }
        }
      }
    }
  }

  .stats {
    padding: 100px 0;
    position: relative;

    .bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @media(max-width:$sm) {
      padding: 50px 0;
    }

    .container {
      position: relative;
      z-index: 1;
    }

    .row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 20px;

      .col {
        padding: 30px;
        text-align: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
        background: #fff;

        @media(max-width:$sm) {
          padding: 30px 20px;
        }

        .icon {
          width: 64px;
          height: 64px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #E5E9ED;
          color: $secondary;
          margin: auto;
          border-radius: 50px;
          font-size: 22px;
        }

        h2 {
          font-size: 36px;
          font-weight: 700;
          color: $secondary;
          margin: 15px 0;
        }
      }
    }
  }

  .values {
    padding: 70px 0;
    background: #f4faff;

    @media(max-width:$sm) {
      padding: 50px 0;
    }

    .row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 20px;

      .col {
        padding: 30px;
        text-align: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
        background: #fff;

        @media(max-width:$sm) {
          padding: 30px 20px;
        }

        .icon {
          width: 64px;
          height: 64px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $primary;
          color: #fff;
          margin: auto;
          border-radius: 50px;
          font-size: 22px;
        }

        h3 {
          font-size: 20px;
          font-weight: 500;
          color: $secondary;
          margin: 15px 0;
        }
      }
    }
  }

  .about {
    padding: 70px 0;

    @media(max-width:$sm) {
      padding: 50px 0;
    }

    .row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
      align-items: center;
      gap: 20px;

      @media(max-width:$md) {
        text-align: center;
      }

      @media(max-width:$sm) {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      }

      .image {
        img {
          width: 100%;
          height: auto;
          border-radius: 8px;
        }
      }

    }

    .rowTwo {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 20px;
      padding-top: 50px;

      .col {
        padding: 30px;
        background: #fff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
        border-top: 4px solid $primary;

        @media(max-width:$sm) {
          text-align: center;
        }

        h3 {
          font-size: 20px;
          font-weight: 600;
        }
      }
    }

    .message {
      margin-top: 50px;
      background: #f4faff;
      padding: 30px;
      border-radius: 10px;
      display: flex;
      gap: 20px;

      @media(max-width:$md) {
        flex-direction: column;
      }

      @media(max-width:$sm) {
        padding: 20px;
      }

      .image {
        img {
          width: 200px;
          height: 200px;
          object-fit: cover;
          border-radius: 200px;

          @media(max-width:$sm) {
            width: 150px;
            height: 150px;
          }
        }
      }

      .content {
        h3 {
          font-size: 24px;

          @media(max-width:$sm) {
            font-size: 18px;
          }
        }

        p {
          font-style: italic;
        }
      }
    }
  }

  .services {
    padding: 70px 0;
    background: #f4faff;

    @media(max-width:$sm) {
      padding: 50px 0;
    }

    .row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      gap: 30px;

      .col {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
        overflow: hidden;
        background: #fff;

        @media(max-width:$sm) {
          text-align: center;
        }


        .image {
          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }
        }

        .content {
          padding: 20px;
        }

        h3 {
          font-size: 18px;
          line-height: 28px;
          font-weight: 600;
          color: $secondary;
          margin-bottom: 15px;
        }

        p {
          margin: 0;
        }
      }
    }

    .btn {
      padding-top: 20px;
      text-align: center;

      .one {
        background: $primary;
        color: #fff;
        text-decoration: none;
        padding: 10px 30px;
        border-radius: 30px;
        font-weight: 500;
        display: inline-block;

        @media(max-width:$lg) {
          font-size: 14px;
          padding: 8px 20px;
        }
      }
    }
  }


  .projects {
    padding: 70px 0;

    @media(max-width:$sm) {
      padding: 50px 0;
    }

    .row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      gap: 30px;

      .col {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
        overflow: hidden;

        @media(max-width:$sm) {
          text-align: center;
        }


        .image {
          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }
        }

        .content {
          padding: 20px;

          .date {
            font-size: 16px;
            margin: 0;
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }

        h3 {
          font-size: 18px;
          line-height: 28px;
          font-weight: 600;
          color: $secondary;
          margin-bottom: 15px;
        }

        p {
          margin: 0;
        }
      }
    }

    .btn {
      padding-top: 20px;
      text-align: center;

      .one {
        background: $primary;
        color: #fff;
        text-decoration: none;
        padding: 10px 30px;
        border-radius: 30px;
        font-weight: 500;
        display: inline-block;

        @media(max-width:$lg) {
          font-size: 14px;
          padding: 8px 20px;
        }
      }
    }
  }

  .clients {
    padding: 70px 0;
    background: #f4faff;

    @media(max-width:$sm) {
      padding: 50px 0;
    }

    .row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      gap: 20px;

      @media(max-width:$sm) {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
      }

      .col {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
        overflow: hidden;
        background: #fff;

        @media(max-width:$sm) {
          text-align: center;
        }


        .image {
          padding: 10px;
          text-align: center;

          img {
            width: 100%;
            height: 100px;
            object-fit: contain;
            border-radius: 8px;
          }
        }
      }
    }

  }

  .contact {
    padding: 70px 0;

    @media(max-width:$sm) {
      padding: 50px 0;
    }

    .row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
      gap: 40px;



      @media(max-width:$sm) {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 20px;
      }

      .form {
        form {
          padding: 30px;
          border-radius: 10px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          display: flex;
          flex-direction: column;
          gap: 20px;

          label {
            display: inline-block;
            padding-bottom: 5px;
          }

          input {
            width: 100%;
            height: 50px;
            border: 1px solid #D1D5DB;
            border-radius: 8px;
            padding: 8px 10px;
          }

          textarea {
            width: 100%;
            height: 100px;
            border: 1px solid #D1D5DB;
            border-radius: 8px;
            padding: 8px 10px;
          }

          .btn {
            text-align: center;

            button {
              width: 100%;
              background: $primary;
              border: none;
              padding: 10px 30px;
              color: #fff;
              border-radius: 50px;
            }
          }
        }
      }

      .contactInfo {
        .us {
          padding: 30px;
          background: #f4faff;
          border-radius: 10px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

          @media(max-width:$sm) {
            padding: 20px;
          }

          h3 {
            font-size: 20px;
            font-weight: 600;
          }

          ul {
            list-style: none;

            li {
              padding: 7px 0;
              display: flex;
              align-items: center;
              gap: 10px;

              .icon {
                width: 50px;
                height: 50px;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #def0ff;
                color: $secondary;
              }

              .text {
                flex: 1;

                @media(max-width:$sm) {
                  font-size: 14px;
                }
              }

              a {
                color: #000;
                text-decoration: none;
              }
            }
          }
        }

        .map {
          padding-top: 20px;
          border-radius: 8px;
          overflow: hidden;

          iframe {
            width: 100%;
            height: 200px;
          }
        }
      }

    }

  }


}